        <div class="modal-header">
	    <button class="close" id="closeModalBtn" aria-label="Close" type="button" ng-click="cancel()"><span aria-hidden="true">x</span></button>
            <h3 class="modal-title">View NFR Details:</h3>
        </div>
        <div class="modal-body">
		<form name="ConMonViewNewItemForm">
			<table class="table">
			<div class="input-group"><tr>
			<td><label>Enter NFR #:</label></td>
			<td><input type="text" class="form-control" tooltip="Enter the NFR number in the following format: YYYY-System-Number. Example: 2015-IT-0010" ng-model="newItem.NFRNumber" ng-minlength="2" ng-maxlength="15" placeholder="Enter NFR Number..." ng-required="!newItem.System.length" /></td>
			</tr></div>
			<div class="input-group"><tr>
			<td><label>Enter NFR Title:</label></td>
			<td><input type="text" class="form-control" ng-model="newItem.NFRTitle" placeholder="Enter NFR Title..." ng-required="!newItem.NFRTitle.length" /></td>
			</tr></div>
			<tr><div class="input-group">
			<td><label>Enter Fiscal Year Info:</label></td>			
			<td>
				<select class="form-control" ng-model="newItem.FiscalYearValue" placeholder="Choose Fiscal Year..." ng-options="f for f in fiscalYearOptions" ng-required="true"><option></option></select>
			</td>
			</div></tr>
			<tr><div class="input-group">
			<td><label>Enter System:</label></td>
			<td>
				<select class="form-control" ng-model="newItem.System" placeholder="Choose Fiscal Year..." placeholder="Choose System..." ng-options="f for f in systems" ng-required="true"><option></option></select>
			</td>
			</div></tr>
			<tr><div class="input-group">
			<td><label>Enter Assessment Type:</label></td>
			<td>				
				<select class="form-control" ng-model="newItem.AssessmentTypeValue" placeholder="Choose Assessment Type..." ng-options="f for f in assessmenttypes" ng-required="true"><option></option></select>
			</td>
			</div></tr>
			<tr><div class="input-group">
			<td><label>Enter Control Category:</label></td>
			<td>				
				<select class="form-control" ng-model="newItem.Control" placeholder="Choose Control Category..." ng-options="f for f in controls" ng-required="true"><option></option></select>
			</td>
			</div></tr>
			<div class="input-group"><tr>
			<td><label>Enter NFR Condition:</label></td>
			<td><input type="text" class="form-control" tooltip="Enter the NFR Condition Info..." ng-model="newItem.NFRCondition" placeholder="Enter NFR Condition..." /></td>
			</tr></div>
			<div class="input-group"><tr>
			<td><label>Enter NFR Criteria:</label></td>
			<td><input type="text" class="form-control" tooltip="Enter the NFR Criteria Info..." ng-model="newItem.NFRCriteria" placeholder="Enter NFR Criteria..." /></td>
			</tr></div>
			<div class="input-group"><tr>
			<td><label>Enter NFR Cause:</label></td>
			<td><input type="text" class="form-control" tooltip="Enter the NFR Cause Info..." ng-model="newItem.NFRCause" placeholder="Enter NFR Cause..." /></td>
			</tr></div>
			<div class="input-group"><tr>
			<td><label>Enter NFR Effect:</label></td>
			<td><input type="text" class="form-control" tooltip="Enter the NFR Effect Info..." ng-model="newItem.NFREffect" placeholder="Enter NFR Effect..." /></td>
			</tr></div>
			<div class="input-group"><tr>
			<td><label>Enter NFR Recommendation:</label></td>
			<td><input type="text" class="form-control" tooltip="Enter the NFR Recommendation Info..." ng-model="newItem.NFRRecommendation" placeholder="Enter NFR Recommendation..." /></td>
			</tr></div>

			<!-- ADDED additional 4 fields for NFRs (phase 1) BEGIN-->
			<div class="input-group"><tr>
			<td><label>Enter NFR Owner:</label></td>
			<td><input type="text" class="form-control" ng-model="newItem.NFROwner" placeholder="Enter NFR Owner Info..." /></td>
			</tr></div>
			<div class="input-group"><tr>
			<td><label>Enter System Owner:</label></td>
			<td>				
				<select class="form-control" ng-model="newItem.SystemOwnerValue" placeholder="Choose System Owner..." ng-options="f for f in systemTypes" ng-required="true"><option></option></select>
			</td>
			</tr></div>
			<div class="input-group"><tr>
			<td><label>Enter NFR OPR:</label></td>
			<td><input type="text" class="form-control" ng-model="newItem.NFROPR" placeholder="Enter NFR OPR Info..." /></td>
			</tr></div>
			<div class="input-group"><tr>
			<td><label>Select NFR Status:</label></td>
			<td>				
				<select class="form-control" ng-model="newItem.NFRStatusValue" placeholder="Choose NFR Status..." ng-options="f for f in statusTypes" ng-required="true"><option></option></select>
			</td>
			</tr></div>
			<!-- ADDED additional 4 fields for NFRs (phase 1) END-->

			<div class="input-group"><tr>
			<td><label>Enter NFR Issue Date:</label></td>
			<!-- <td><input type="text" class="form-control" ng-model="newItem.FirstAssessmentDate" datepicker-popup="dd.MM.yyyy" placeholder="Enter First Assessment Date..." /></td> -->
			<td>
				<datepicker ng-model="newItem.FirstAssessmentDate" class="well well-sm" show-weeks="false" ></datepicker>
				<p class="input-group">
				<pre>Selected date is: <em>{{newItem.FirstAssessmentDate | date:'fullDate' }}</em></pre>
            			</p>
			</td>
			</tr></div>

			</table>
			<button type="button" ng-click="cancel()" class="btn btn-warning">Close</button>
		</form>
        </div>
        <div class="modal-footer">
        </div>

